version 5.249.0

source https://api.nuget.org/v3/index.json
framework: net5.0, netstandard2.0
storage: none

nuget Fable.Remoting.Giraffe
nuget Giraffe
nuget Microsoft.ApplicationInsights.AspNetCore

nuget Fable.Core
nuget Fable.React
nuget Fable.Remoting.Client
nuget Feliz
nuget Feliz.Bulma
nuget Feliz.Router
nuget Feliz.UseDeferred
nuget FsToolkit.ErrorHandling.TaskResult

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem